<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>管理员主页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="/admin/admin.html::adminNav" ></div>
<table class="table table-hover text-center">
    <thead>
    <tr >
        <th class="text-center">id</th>
        <th class="text-center">店铺名</th>
        <th class="text-center">描述</th>
        <th class="text-center">地址</th>


    </tr>
    </thead>

    <tbody>
    <tr th:each="p: ${saler}">
        <td th:text="${p.getId()}"></td>
        <td th:text="${p.getShopname()}"></td>
        <td th:text="${p.getDesc()}"></td>

        <td ><a class="btn btn-info btn-small"
                th:href="@{/admin/putOff(salerId=${p.getId()})}"
        >下架店铺</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>