<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <title>库存管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script>
        function update(obj){
            /*点击修改按钮，给模态框加载信息并且弹出模态框*/
            var tds= $(obj).parent().parent().find('td');
            $("#productId").val(tds.eq(0).text());
            $("#productName").val(tds.eq(2).text());
            $("#oldprice").val(tds.eq(5).text());
        }

    </script>

</head>
<body>
<div th:replace="wholesaler/wholesaler.html::whoNav" ></div>
<div class="panel panel-default center-block">
    <div class="page-header text-center">
        <h3>库存清单</h3>
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th class="text-center">汽配id</th>
            <th class="text-center">制造商</th>
            <th class="text-center">汽配名</th>
            <th class="text-center">汽配类型</th>
            <th class="text-center">汽配数量</th>
            <th class="text-center">价格</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p: ${list}">
            <td th:text="${p.getProductId()}"></td>
            <td th:text="${p.getCompanyName()}"></td>
            <td th:text="${p.getProductName()}"></td>
            <td th:text="${p.getType()}"></td>
            <td th:text="${p.getAmount()}"></td>
            <td th:text="${p.getPrice()}"></td>
            <td ><a class="btn btn-info btn-small"  data-toggle="modal" data-target="#myModal"
                    onclick="update(this)">修改价格</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    设置定价
                </h4>
            </div>
            <form action="/layPrice" method="post">
                <div class="modal-body">

                    <label class="col-sm-2 control-label">汽配id</label>
                    <div class="col-sm-10">
                        <input class="form-control text-center" type="text" id="productId" name="productId" readonly="readonly"><br>
                    </div>
                    <label class="col-sm-2 control-label">汽配名称</label>
                    <div class="col-sm-10">
                        <input class="form-control text-center" type="text" id="productName" readonly="readonly"><br>
                    </div>
                    <label class="col-sm-2 control-label">原价格</label>
                    <div class="col-sm-10">
                        <input class="form-control text-center" type="text" id="oldprice" readonly="readonly"><br>
                    </div>
                    <label class="col-sm-2 control-label">新价格</label>
                    <div class="col-sm-10">
                        <input class="form-control text-center" id="price" name="price" type="text" placeholder="输入定价">

                    </div>
                    <br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button  class="btn btn-primary" type="submit">
                        提交更改
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>