<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单生成成功</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    订单生成成功
                </h4> <strong>订单生成成功</strong> 请点击确定返回
                <a th:href="@{/salerDetail}" class="btn btn-success btn-default">确定</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>