<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发货失败</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<div class="panel panel-default text-center">
<div class="panel-body">
    <h2>发货失败，请检查库存！</h2>
    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">确定</button>
</div>
</div>
</body>
</html>